* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fdf7ee;
    color: #333;
}
.header {
    background-color: #C0392B;
    color:white;
    padding: 15px 40px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link{
    font-weight: lighter;
}

.header a {
    color:white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
}

.btn {
    background-color: #ff6a3d;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
}

.hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    margin-left: 60px;
    padding: 30px;
}

.hero img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.section-title {
    font-size: 22px;
    margin-bottom: 30px;
    color: #ff6a3d;
}

.featured {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 220px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    font-size: 14px;
    margin: 8px 0;
}

.price {
    color: #ff6a3d;
    font-weight: bold;
    font-size: 13px;
}
.footer {
    font-weight: lighter;
    background-color: #3b2f2f;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 13px;
}

.footer h4 {
    margin-bottom: 10px;
}