* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    line-height: 1.6;
  background: #fcf8f4;
  color: #333;
}

.section {
  max-width: 1100px;
  padding: 50px 20px;
  margin: auto;
}

.section-heading {
    color: #e67e5e;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.header {
    background: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding: 15px 5%;

}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: #555;
}

.btn-primary {
  background: #e67e5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
}

.hero-banner {
  color: #fff;
  height: 75vh;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),url("./anh/prj1.png") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-box h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.btn-hero {
  padding: 15px 35px;
  border-radius: 30px;
  border: none;
  background: #e67e5e;
  color: white;
}

.food {
  display: flex;
  gap: 20px;
}

.food-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #eee;
  flex: 1;
}

.footer-box h4 {
  color: white;
  margin-bottom: 15px;
}

.food-info {
  padding: 20px;
}

.food-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.food-price {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #e67e5e;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.menu-row {
  background: #fff;
  width: calc(33.33% - 15px);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid #eee;
}

@media (max-width: 768px) {
  .header,
  .footer-main,
  .food-grid {
    flex-direction: column;
    text-align: center;
  }
  .menu-row {
    width: 100%;
  }
}

.footer-copy {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
  opacity: 0.6;
}
.footer {
  background: #3d3533;
  color: #d1d1d1;
  padding: 60px 5% 20px;
}

.footer-main {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #555;
  padding-bottom: 30px;
}

